.product-image {
    position: relative;
}
.product-image img {
    width: 100%;
    display: block;
}
.arrow {
    position: absolute;
    width: clamp(2.5rem, 2.147887323943662rem + 1.5023474178403755vw, 3.5rem);
    height: clamp(2.5rem, 2.147887323943662rem + 1.5023474178403755vw, 3.5rem);
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrow:hover {
    cursor: pointer;
}
.arrow:hover svg path {
    stroke: #ffab6a;
}
.arrow-next, .arrow-previous {
    top: calc(50% - (clamp(2.5rem, 2.147887323943662rem + 1.5023474178403755vw, 3.5rem) / 2));
}
.arrow-previous {
    left: 1rem;
}
.arrow-next {
    right: 1rem;
}


.product-thumbnails {
    display: none;
}